/* HEADER */

body {
  margin:0;
}

.menuhamburguesa{
  display:none;
}

.menu-pc {
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0 13px 0 rgba(134, 134, 134, 0.25);
}

.secciones-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  list-style-type: none;
  margin: 10px;
}

.top-bar , .boton-proyecto , .lo-que-hago-boton{
  text-decoration: none;
  color: #392d40;
  font-family: 'Montserrat', sans-serif;
}

.boton-morado {
  color: #ffffff;
  background-color:#392d40;
  font-size: inherit;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20%;
  border: none;
  padding: 20px;
}

button:hover {
  background-color: #8b709c ;

}

/*SECCIÓN PRINCIPAL*/

.portada {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap ;
  align-content: center;
}

.imagen-informacion {
  height: 600px;
  width: 700px;
  max-width: 100%;
  max-height: 10%;
}

img { 
  width: 100%;
  height: auto;
}

.informacion {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

h1 {
  color:#2e2e31;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

h2{
  color: #8b709c;
  font-size: 60px;
  font-family:'Spartan', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #2e2e31;
  font-size: xx-large;
}

/*SECCIÓN TARJETAS DE MIS CONOCIMIENTOS*/

.tarjetas {
  background-color:#e7f7e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.títulodetarjetas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

h4 {
  color: #8b709c;
  font-family: 'Spartan', sans-serif;
  font-size: 40px;
  font-weight: bolder;
}


.principal {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  max-width: 50%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.primera {
  color: #2e2e31;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dddfe5;
  border-radius: 8px;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.imagenes {
  width: 130px;
  height:130px ;
}

/*SECCIÓN DE FRASE INSPIRADORA*/


.fraseinspiradora {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6b5678;
  color: #e7f7e1;
}
.comillas {
  margin-bottom: 20px;
  font-size: 100px;
  text-align: center;
}

.frase-en-texto {
  margin-top: 10px;
  font-size: large;
}

h5 {
  font-size: large;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

/*SECCIÓN MIS PROYECTOS*/

.tarjetasdos {
  background-color:#e7f7e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h6 {
  color: #8b709c;
  font-family: 'Spartan', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  justify-content: center;
}

.boton-blanco {
  background-color: #e7f7e1;
  font-size: inherit;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20%;
  border: none;
  padding: 20px;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  width: 90%;
}

.secundaria {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  max-width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.segunda {
  color: #2e2e31;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dddfe5;
  border-radius: 8px;
  width: calc(100% / 3 - (22px * 2));
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-img {
  display: flex;
  height: 60%;
  width: 60%;
  justify-content: center;
  align-items: center;
  }

.imagenesmoradas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

  /*SECCIÓN FOOTER*/

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #6b5678;
  padding: 100px;
}

.lista-de-footer {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.lifooter{
  text-decoration: none;
 font-family: 'Montserrat', sans-serif;
 color: #e7f7e1;
}

.iconos-de-footer {
  margin-top: 20px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  font-size: xx-large;
  color: #e7f7e1;
}

a {
  color: #e7f7e1;
  text-decoration: none;
}

.mensaje-final {
  text-align: center;
  color: #e7f7e1;
}

/*MEDIA QUERI*/

/*PARA TABLETS*/

@media (min-width:600px)and (max-width:900px) {

  /*ALUGNOS BOTONOES Y SU COMPORTAMIENTO*/

  .top-bar , .lista-de-footer {
    display: none;
  }
  .menuhamburguesa{
    display:block;
  }

  /*SECCIÓN PRINCIPAL*/

  .portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .informacion {
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }


  .imagen-informacion {
    height: 500px;
    width: 500px;
  }

  /*SECCIÓN DE MIS PROYECTOS*/

  .segunda {
    width: calc(100% / 2 - (22px * 2));
  }
  
}

/*PARA TELÉFONOS*/

@media (max-width:600px) {

  /*ALGUNOS BOTONES Y SU COMPORTAMIENTO*/

  .top-bar , .lista-de-footer {
    display: none;
  }

  .boton-proyecto {
    font-size: small;
  }

  .menuhamburguesa{
    display:block;
  }

  /*SECCIÓN PRINCIPAL*/

  .portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .informacion {
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }
  h1 {
    color:#2e2e31;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
  h2{
    color: #8b709c;
    font-size: 50px;
    font-family:'Spartan', sans-serif;
}
  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2e2e31;
    font-size: medium;
  }
  
  /*SECCIÓN TARJETAS DE MIS PROYECTOS*/

    .tarjetas {
    text-align: center;
  }

  .segunda {
    width: 100%;
    height: 300px;
  }
  
  
}